fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-google-genai
groq
faiss-cpu
sentence-transformers
deep-translator
langdetect
pymongo
pydantic
pydantic-settings
python-dotenv
httpx
aiofiles
twilio
numpy